[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pypandoc = "*"

[packages]
pytest = "*"
elasticsearch = "==7.7.0"
pytest-cov = "*"
toute = {editable = true,path = "."}
more-itertools = "==5.0.0"
zipp = "==1.2.0"

[requires]
python_version = "3.7"
